Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 3.1 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.5 MB 4.6 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/11.5 MB 4.7 MB/s eta 0:00:02
   ------------ --------------------------- 3.7/11.5 MB 4.7 MB/s eta 0:00:02
   ---------------- ----------------------- 4.7/11.5 MB 5.0 MB/s eta 0:00:02
   --------------------- ------------------ 6.0/11.5 MB 4.9 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 5.0 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 5.1 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 5.2 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 5.0 MB/s eta 0:00:00
Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.6 MB 6.1 MB/s eta 0:00:02
   ------ --------------------------------- 2.1/12.6 MB 5.5 MB/s eta 0:00:02
   --------- ------------------------------ 3.1/12.6 MB 5.4 MB/s eta 0:00:02
   ------------- -------------------------- 4.2/12.6 MB 5.3 MB/s eta 0:00:02
   ----------------- ---------------------- 5.5/12.6 MB 5.4 MB/s eta 0:00:02
   -------------------- ------------------- 6.6/12.6 MB 5.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.6/12.6 MB 5.4 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.6 MB 5.4 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.6 MB 5.1 MB/s eta 0:00:01
   -------------------------------- ------- 10.2/12.6 MB 4.9 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 4.9 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 4.7 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [19]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [16]:
missing_count = train.isna().sum()
missing_count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [20]:
train_df = train.drop(['Name', 'Ticket', 'Cabin','Fare','Embarked',"SibSp","Parch"], axis=1)

In [21]:
train_df

     PassengerId  Survived  Pclass     Sex   Age
0              1         0       3    male  22.0
1              2         1       1  female  38.0
2              3         1       3  female  26.0
3              4         1       1  female  35.0
4              5         0       3    male  35.0
..           ...       ...     ...     ...   ...
886          887         0       2    male  27.0
887          888         1       1  female  19.0
888          889         0       3  female   NaN
889          890         1       1    male  26.0
890          891         0       3    male  32.0

[891 rows x 5 columns]